<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Hospital Management</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#"
        >Home <span class="sr-only">(current)</span></a
      >
      <a class="nav-item nav-link" (click)="getPatients()">Patient</a>
      <a class="nav-item nav-link" href="#">Doctor</a>
    </div>
    <div class="navbar-nav ml-auto">
      <div class="nav-item text-center p-2">
        <i class="fas fa-user fa-lg text-white"></i>
      </div>
      <a class="nav-item nav-link pointer" (click)="logout()">Logout</a>
    </div>


  </div>
</nav>
