<app-header></app-header>
<div class="container">
  <h1 class="display-2 text-center">Patients</h1>

  <div class="d-flex">
    <div class="row justify-content-md-center justify-content-around">
      <div
        class="card m-2 p-1 col-md-2"
        style="width: 18rem;"
        *ngFor="let patient of patients"
      >
        <img
          src="//robohash.org/{{patient.name}}"
          class="img-thumbnail"
          class="card-img-top"
        />
        <div class="card-body p-1">
          <h5 class="card-title text-center">{{patient.name}}</h5>
          <p class="card-text">Phone : {{patient.phone}}</p>
          <p class="card-text">Disease : {{patient.disease}}</p>
          <p class="card-text">Location : {{patient.location}}</p>
          <a href="#" class="btn btn-primary btn-block">view</a>
        </div>
      </div>
    </div>
  </div>
</div>
