<app-header></app-header>
<div class="container">
  <div class="row my-2">
    <div class="col-lg-8 order-lg-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            href=""
            data-target="#profile"
            data-toggle="tab"
            class="nav-link active"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a href="" data-target="#edit" data-toggle="tab" class="nav-link"
            >Edit</a
          >
        </li>
      </ul>
      <div class="tab-content py-4">
        <div class="tab-pane active" id="profile">
          <h5 class="mb-3">User Profile</h5>
          <div class="row">
            <div class="col-md-6">
              <h6>Name</h6>
              <p>
                {{ userData.name }}
              </p>
              <h6>Age</h6>
              <p>
                {{ userData.age }}
              </p>
              <h6>Location</h6>
              <p>
                {{ userData.location }}
              </p>
              <h6>Phone</h6>
              <p>
                {{ userData.phone }}
              </p>
            </div>
            <div class="col-md-6">
              <h6 *ngIf="userData.disease">Disease</h6>
              <h6 *ngIf="userData.speciality">Speciality</h6>

              <div
                *ngIf="userData.speciality"
                class="badge text-white p-2 badge-dark badge-pill"
                style="width: inherit;"
              >
                <h5>{{ userData.speciality }}</h5>
              </div>
              <div
                *ngIf="userData.disease"
                class="badge text-light badge-dark badge-pill p-2"
                style="width: inherit;"
              >
                <h4>{{ userData.disease }}</h4>
              </div>
              <hr />
              <div class="d-flex justify-content-md-center justify-content-around">
                <span class="badge badge-primary p-2 m-1"
                  ><i class="fa fa-user"></i> ID : {{ userData.id }}</span
                >
                <span
                  class="badge badge-success p-2 m-1"
                  *ngIf="userData.speciality"
                >
                  <i class="fa fa-cog"></i> Doctor
                </span>
                <span
                  class="badge badge-success p-2 m-1"
                  *ngIf="userData.disease"
                >
                  <i class="fa fa-cog"></i> Patient
                </span>
                <span class="badge badge-danger p-2 m-1"
                  ><i class="fa fa-eye"></i> {{ docPatientslength }}
                  {{ userData.disease ? "doctors" : "patients" }}</span
                >
              </div>
            </div>
            <div class="col-md-12">
              <h5 class="mt-2">
                <span class="fa fa-clock-o ion-clock float-right"></span>
                {{ userData.disease ? "patient" : "doctor" }}
                {{ userData.name }}'s
                {{ userData.speciality ? "patients" : "doctors" }}
              </h5>
              <div class="d-flex">
                <div
                  class="row justify-content-md-center justify-content-around"
                >
                  <div
                    class="card m-2"
                    style="width: 14rem;"
                    *ngFor="let patient of docPatients"
                  >
                    <img
                      src="//robohash.org/{{ patient.name }}"
                      class="img-thumbnail"
                      class="card-img-top"
                    />
                    <div class="card-body">
                      <h5 class="card-title text-center">{{ patient.name }}</h5>
                      <div class="card-text  m-1 p-1">
                        <a
                          class="badge text-white p-2 badge-dark badge-pill btn-block"
                        >
                          ID: {{ patient.id }}
                        </a>
                      </div>
                      <p class="card-text">Phone : {{ patient.phone }}</p>
                      <p class="card-text">
                        {{ userData.disease ? "Disease" : "Speciality" }} :
                        {{
                          patient.disease ? patient.disease : patient.speciality
                        }}
                      </p>
                      <p class="card-text">Location : {{ patient.location }}</p>
                      <a href="#" class="btn btn-outline-info btn-block"
                        >view</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/row-->
        </div>
        <div class="tab-pane" id="edit">
          <h4 class="display-4 text-center p-2">Update Details</h4>
          <form role="form">
            <div
              class="alert alert-success"
              [ngClass]="{ 'd-none': !valid }"
              role="alert"
            >
              Data Updated
            </div>

            <div class="form-group row">
              <label class="col-lg-3 font-weight-bold col-form-label form-control-label"
                >ID</label
              >
              <div class="col-lg-9">
                <input
                  disabled
                  class="form-control"
                  #id
                  type="text"
                  value="{{ userData.id }}"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 font-weight-bold col-form-label form-control-label"
                >Username</label
              >
              <div class="col-lg-9">
                <input
                  disabled
                  class="form-control"
                  #name
                  type="text"
                  value="{{ userData.name }}"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 font-weight-bold col-form-label form-control-label"
                >Phone</label
              >
              <div class="col-lg-9">
                <input
                  class="form-control"
                  #phone
                  type="text"
                  [ngClass]="{ 'is-invalid': invalid }"
                  value="{{ userData.phone }}"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 font-weight-bold col-form-label # form-control-label"
                >Location</label
              >
              <div class="col-lg-9">
                <input
                  class="form-control"
                  type="url"
                  #location
                  [ngClass]="{ 'is-invalid': invalid }"
                  value="{{ userData.location }}"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 font-weight-bold col-form-label form-control-label"
                >Age</label
              >
              <div class="col-lg-9">
                <input
                  class="form-control"
                  type="number"
                  #age
                  [ngClass]="{ 'is-invalid': invalid }"
                  value="{{ userData.age }}"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 font-weight-bold col-form-label form-control-label">{{
                userData.disease ? "Disease" : "Speciality"
              }}</label>
              <div class="col-lg-9" [hidden]="!userData.disease">
                <input
                  class="form-control"
                  type="text"
                  #spec
                  [ngClass]="{ 'is-invalid': invalid }"
                  value="{{ userData.disease }}"
                />
              </div>
              <div class="col-lg-9" [hidden]="!userData.speciality">
                <input
                  class="form-control"
                  type="text"
                  #spec
                  [ngClass]="{ 'is-invalid': invalid }"
                  value="{{ userData.speciality }}"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 font-weight-bold col-form-label form-control-label"></label>
              <div class="col-lg-9">
                <input
                  type="button"
                  class="btn font-weight-bold btn-primary btn-block"
                  value="Update Changes"
                  (click)="
                    updateData(
                      name.value,
                      age.value,
                      phone.value,
                      location.value,
                      spec.value
                    )
                  "
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 order-lg-1 text-center">
      <img
        src="//robohash.org/kutty"
        class="mx-auto img-fluid img-circle d-block"
        alt="avatar"
      />
      <h1 class="display-4 custom-file-control">{{ userData.name }}</h1>
    </div>
  </div>
</div>
