<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center font-weight-normal">
              Hospital System
            </h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input
                  type="text"
                  id="inputEmail"
                  class="form-control"
                  placeholder="Email address"
                  [ngClass]="{ 'is-invalid': invalid }"
                  #username
                  required
                  autofocus
                />
                <label for="inputEmail">User name</label>
              </div>

              <div class="form-label-group">
                <input
                  type="password"
                  id="inputPassword"
                  class="form-control"
                  placeholder="Password"
                  [ngClass]="{ 'is-invalid': invalid }"
                  #password
                  required
                />
                <label for="inputPassword">Password</label>
              </div>

              <br />
              <button
                class="btn btn-lg btn-primary btn-block text-uppercase"
                type="button"
                (click)="login(username.value, password.value)"
              >
                Sign in
              </button>
              <hr class="my-4" />

              <a
                class="btn btn-lg btn-google btn-block text-uppercase"
                [routerLink]="['/create/doctor']"
              >
                <i class="fas fa-stethoscope fa-lg"></i> Sign up as Doctor</a
              >
              <a
                class="btn btn-lg btn-facebook btn-block text-uppercase"
                [routerLink]="['/create/patient']"
                role="button"
              >
                <i class="fas fa-user"></i> Sign up as Patient
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
